<a name="top"></a>

<div class="jumbotron">
  <div class="container">
    <div class="page-header">
      <h1><%= @username %> <small>Subtext for header</small></h1>
    </div>
  </div>
</div>


<div class="row">
  <div class="card" style="width: 10rem;">
    <div class="card-body">
    <h4 class="card-title">profile</h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
   </div>
  </div>

    <div> 
      <%= render '/components/post_form' %><br><br>
    </div>

       <div>
          <% for @p in @posts %>
            <div class="card" style="width: 20rem;">
  <div class="panel-body row">
  <div class="col-sm-1">
    <img src="/anonymous.png" class="rounded-img" height="55px" width="55px" >
  </div>
  <div class="col-sm-11">
    <span class="post-owner"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %></a></span>
    <span class="post-creation">- <%= @p.created_at.to_formatted_s(:short) %></span>
  </div>
  </div>
  <div>
    <h4 class="card-title"><%= @p.content %></h4>
   <div class="col-sm-12">
              <p class="fontawe-links">
                <a href="#"><i class="fa fa-reply" aria-hidden="true"></i></a>
                <a href="#"><i style="padding-left:75px;" class="fa fa-retweet" aria-hidden="true"></i>
                <a href="#"><i style="padding-left:75px;" class="fa fa-heart" aria-hidden="true"></i>
                <a href="#"><i style="padding-left:75px;" class="fa fa-envelope-o" aria-hidden="true"></i>
              </p>
  </div>  
</div>
<% end %>
</div>

<div class="card" style="width: 10rem;">
               <div class="card-body">
                 <h4 class="card-title">Who to follow</h4>
                 <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                 <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                 <a href="#" class="card-link">Card link</a>
                 <p
                 <a href="#" class="card-link"><span class="glyphicon glyphicon-search"></span>
                    </a>
                 </p>
               </div>
            </div>
            
</div>
<!-- begins row 2 -->
<div class="row"  >
  <div class="width: 10rem offset-md-8">
    <div class="card" style="width: 10rem; col-md-offset-9" ">
       <div class="card-body" >
         <h4 class="card-title"> trends </h4>
         <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#" class="card-link">Card link</a>
         <a href="#" class="card-link">Another link</a>
        </div>
     </div>
  </div>
</div>

<center><a href="#top">Back to top</a>